<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jsapis</key>
	<array>
		<dict>
			<key>name</key>
			<string>ZLZH5FoundationHandler</string>
			<key>jsApi</key>
			<string>ZLZH5Foundation</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZShowAlertApiHandler</string>
			<key>jsApi</key>
			<string>showAlert</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZHideLoadingApiHandler</string>
			<key>jsApi</key>
			<string>hideLoading</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZShowLoadingApiHandler</string>
			<key>jsApi</key>
			<string>showLoading</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZGetCameraFrameApiHandler</string>
			<key>jsApi</key>
			<string>getCameraFrame</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZOpenCameraApiHandler</string>
			<key>jsApi</key>
			<string>openCamera</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZSetScreenBrightnessJsApiHandler</string>
			<key>jsApi</key>
			<string>setScreenBrightness</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZSetTitleJsApiHandler</string>
			<key>jsApi</key>
			<string>setTitle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZPopWindowJsApiHandler</string>
			<key>jsApi</key>
			<string>popWindow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZPushWindowJsApiHandler</string>
			<key>jsApi</key>
			<string>pushWindow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZIdentityJsApiHandler</string>
			<key>jsApi</key>
			<string>zimIdentity</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZFoundationJsApiHandler</string>
			<key>jsApi</key>
			<string>hummerFoundation</string>
		</dict>
	</array>
</dict>
</plist>
