<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jsapis</key>
	<array>
		<dict>
			<key>name</key>
			<string>ZLZFacadeJsApiHandler</string>
			<key>jsApi</key>
			<string>StartZLZFacade</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZH5FoundationHandler</string>
			<key>jsApi</key>
			<string>ZLZH5Foundation</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZShowAlertApiHandler</string>
			<key>jsApi</key>
			<string>showAlert</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZMD5JsApiHandler</string>
			<key>jsApi</key>
			<string>getMD5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZRemoveSharedDataJsApiHandler</string>
			<key>jsApi</key>
			<string>removeSharedData</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZGetCurrentLocationJsApiHandler</string>
			<key>jsApi</key>
			<string>getCurrentLocation</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZScanQRJsApiHandler</string>
			<key>jsApi</key>
			<string>scan</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZGetSharedDataJsApiHandler</string>
			<key>jsApi</key>
			<string>getSharedData</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZSetSharedDataJsApiHandler</string>
			<key>jsApi</key>
			<string>setSharedData</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZHideLoadingApiHandler</string>
			<key>jsApi</key>
			<string>hideLoading</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZShowLoadingApiHandler</string>
			<key>jsApi</key>
			<string>showLoading</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZGetCameraFrameApiHandler</string>
			<key>jsApi</key>
			<string>getCameraFrame</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZOpenCameraApiHandler</string>
			<key>jsApi</key>
			<string>openCamera</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZSetScreenBrightnessJsApiHandler</string>
			<key>jsApi</key>
			<string>setScreenBrightness</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZSetTitleJsApiHandler</string>
			<key>jsApi</key>
			<string>setTitle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZPopWindowJsApiHandler</string>
			<key>jsApi</key>
			<string>popWindow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZPopToJsApiHandler</string>
			<key>jsApi</key>
			<string>popTo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZPushWindowJsApiHandler</string>
			<key>jsApi</key>
			<string>pushWindow</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZToastJsApiHandler</string>
			<key>jsApi</key>
			<string>toast</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZIdentityJsApiHandler</string>
			<key>jsApi</key>
			<string>zimIdentity</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZFoundationJsApiHandler</string>
			<key>jsApi</key>
			<string>hummerFoundation</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ZLZHideBackButtonJsApiHandler</string>
			<key>jsApi</key>
			<string>hideBackButton</string>
		</dict>
	</array>
</dict>
</plist>
